<h2>Location & Time</h2>
<span style="font-weight: bold; font-size: xxx-large;">{{data['time']}}</span><br>
<span style="font-weight: bold; font-size: medium;">{{data['date']}}</span><br>
<span style="font-weight: bold; font-size: medium;">{{data['time_zone_timezone']}}</span>